/* .proyectoimg{
    position: relative;
    top: 50px;
} */
.footerproyectos{
    padding: 2px;
    position: relative;
    top: 950px;
}
.SeeMore
{
	position: fixed;
	top: 320px;
	left: 45%;
	font-size: 35px;
	z-index: 1003;
	text-align: center;
	color: black;
	background: #ffffff;
    text-decoration: none;
    border-radius: 20%;
    border: 2px solid black;
}
.SeeMore:hover{
	border-radius:20%;
-webkit-border-radius:20%;
box-shadow: 0px 0px 15px 15px #ec731e;
-webkit-box-shadow: 0px 0px 15px 15px #ec731e;
transform: rotate(360deg);
-webkit-transform: rotate(360deg);
}